# Documentation à propos de cette page : https://fshschool.org/docs/sushi/configuration/

id: ans.fhir.fr.ig-test
canonical: https://interop.esante.gouv.fr/ig/fhir/ig-test # the last part of canonical and id must be the same
name: ExampleIG # Should be an acronym
title: ANS IG Example
publisher:
  name: Agence du Numérique en Santé (ANS) - 2-10 Rue d'Oradour-sur-Glane, 75015 Paris
  url: https://esante.gouv.fr
status: draft
version: 0.1.0 # shall conforms to Semantic Versioning https://fr.wiktionary.org/wiki/SemVer
fhirVersion: 4.0.1
copyrightYear: 2020+
releaseLabel: ci-build # le release label doit être conforme au cycle de vie de la doctrine du ci-sis
jurisdiction: urn:iso:std:iso:3166#FR "FRANCE"

parameters: #Parameters list - https://build.fhir.org/ig/FHIR/fhir-tools-ig/CodeSystem-ig-parameters.html
    shownav: 'true'

dependencies:
   hl7.fhir.uv.ips: 1.1.0

pages:
    index.md:
        title: Accueil


menu:
    Accueil: index.html
    Ressources de conformité: artifacts.html 
